<mat-card class="card-class" *ngFor="let tweet of tweets">
  <div>
    <img src="../../assets/db.jpg" alt="" class="img-db">
  </div>
  <div class="card-class-content">
    <mat-card-title> {{tweet.title}}</mat-card-title>
    <div>{{tweet.organiser}}</div>
    <div>{{tweet.date | date:'dd-mm-yyyy h:mm a'}}</div>
    <mat-divider></mat-divider>
    <mat-card-content>{{tweet.content}}
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="card-actions">
      <span *ngFor="let action of actions" class="card-action">
        <mat-icon>{{action.icon}}</mat-icon>
        <span>{{action.title}}</span>
      </span>
    </div>
  </div>
</mat-card>
<!-- <mat-card class="card-class" *ngFor="let tweet of tweets">
  <mat-grid-list cols="8">
    <mat-grid-tile colspan="1">
      <img src="../../assets/db.jpg" alt="" class="img-db">
    </mat-grid-tile>
    <mat-grid-tile colspan="7">
      <mat-card-title> {{tweet.title}}</mat-card-title>
      <mat-grid-tile colspan="7">
        <mat-card-subtitle>{{tweet.organiser}}</mat-card-subtitle>
      </mat-grid-tile>
      <mat-grid-tile colspan="7">
      <mat-card-subtitle>{{tweet.date | date:'dd-mm-yyyy h:mm a'}}</mat-card-subtitle>
    </mat-grid-tile>
      <mat-divider></mat-divider>
      <mat-card-content>{{tweet.content}}
      </mat-card-content>
      <mat-divider></mat-divider>
      <div class="card-actions">
        <span *ngFor="let action of actions" class="card-action">
          <mat-icon>{{action.icon}}</mat-icon>
          <span>{{action.title}}</span>
        </span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card> -->
